/* -------------------------------------------------------------------------------- */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* -------------------------------------------------------------------------------- */
.row-top {
    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: start;
    justify-content: center;
}

.column-top {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: start;
}
/* -------------------------------------------------------------------------------- */
.row-bottom {
    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: end;
    justify-content: center;
}

.column-bottom {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: end;
}
/* -------------------------------------------------------------------------------- */
.row-left {
    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: center;
    justify-content: start;
}

.column-left {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: start;
    justify-content: center;
}
/* -------------------------------------------------------------------------------- */
.row-right {
    display: flex;
    flex-direction: row;

    text-align: center;
    align-items: center;
    justify-content: end;
}

.column-right {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: end;
    justify-content: center;
}
/* -------------------------------------------------------------------------------- */